*{cursor: none;}
img{ border: 0; outline: none;  position: absolute; width: 8px; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}
body{overflow:  hidden; background-color: black; }
/*background: url(img/fon.jpg) no-repeat center; background-size: cover;*/
#cursor_center{width: 3px;}
#canvas{margin-left: -10px; margin-top: -10px; background-color: white;}